<div class="movie-page">
    {{movie}}
    <div class="movie-poster">

    </div>
    <div class="movie-info">
        {{movie.overview}}
    </div>
    <div>

    </div>
    <div class="movie-videos">
        <div v-for="video of movie.videos" class="movie-video">
            <!--<a target="_blank" v-bind:href="'https://www.themoviedb.org/video/play?key='+video.key"><img v-bind:src="'https://i.ytimg.com/vi/'+video.key+'/hqdefault.jpg'" alt=""></a>-->
            <youtube :video-id="video.key"></youtube>
        </div>
    </div>
</div>