<div class="movies-page">

    <div class="movies-genres">
        <multiselect v-model="selectedGenres" placeholder="Выберте жанры" label="name" track-by="id" :options="genres" :multiple="true" :taggable="true" @input="setSelectedGenres"></multiselect>
    </div>

    <div class="movies-list">
        <div v-for="movie of movies" class="movie">
            <div class="movie-img">
                <router-link v-bind:to="{
                name:'movie-view',
                params:{
                    id: movie.id
                }
            }">
                <img v-bind:src="'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'+movie.poster_path" @error="setEmptyImage($event)">
                </router-link>
            </div>
            <div class="movie-info">
                <router-link v-bind:to="{
                name:'movie-view',
                params:{
                    id: movie.id
                }
            }">
                    <h4 class="movie-title">{{movie.title}}</h4>
                </router-link>
                <p class="movie-overview">
                    {{movie.overview | truncateString(overviewLimit)}}
                </p>
            </div>
        </div>
    </div>
</div>